p {
    color:rgb(6, 20, 99);
    background-color:rgb(190, 178, 1);
    text-align: center;
}

p.caption{
    color:gray;
    background-color:white;
    text-align: center;
}

h3.subtitle{
    text-align: center;
    text-decoration:underline;
    background-color: bisque;
}

img.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}